@keyframes inSlideAnimationKeyframe {
    0% {
        left: -110%;
    }
    100% {
        left: 0;
    }
  }
  
  @keyframes outSlideAnimationKeyframe {
    0% {
        left: 0;
    }
    100% {
        left: -110%;
    }
  }
