@keyframes inSlideAnimationKeyframe {
    0% {
        transform: translateY(var(--app-sidenav-closed-position));
    }
    100% {
        transform: translateY(var(--app-sidenav-opened-position));
    }
  }
  
  @keyframes outSlideAnimationKeyframe {
    0% {
        transform: translateY(var(--app-sidenav-opened-position));
    }
    100% {
        transform: translateY(var(--app-sidenav-closed-position));
    }
  }
