.inSlideAnimation {

}

.outSlideAnimation {

}

@keyframes inSlideAnimationKeyframe {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
  }
  
  @keyframes outSlideAnimationKeyframe {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  }