
.ProfileSection_MainContainer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: fit-content;
    padding: 1%;

}

.ProfileSection_ImageContainer, 
.ProfileSection_DataContainer {
    height: 100%;
    width: fit-content;

}

.ProfileSection_ImageContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    i {
        font-size: 30px;
    }
}

.ProfileSection_DataContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: flex-start;

    p {
        margin-bottom: 6px;
    }
    a {
        cursor: pointer;
        text-decoration: none;
    }

}

