.AddDeckToCollection_MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .form-floating>label {
      position: inherit;
      padding: 0;
      width: 100%;
      pointer-events: auto;
    }
    .AddDeckToCollection_UserIdContainer {
      display: flex;
    }
  }

}