.Board_MainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;    
    height: 100%;
    position: relative;
}

.Board_PlayerContainer {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;

    width: calc(50% - 30px);

    align-items: center;
    overflow: hidden;
    border: 1px solid var(--app-topnav-mobile-background)
}