.Board_MainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100%;
    position: relative;
}

.Board_PlayerContainer {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;

    height: calc(50% - 20px);
    width: calc(50% - 20px);
    margin: 10px;

    align-items: center;
    overflow: hidden;
}