.sidenav_MainContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;

    width: var(--app-sidenav-width);
    min-width: var(--app-sidenav-width);
    height: var(--app-sidenav-height);
}

.sidenav_NavContainer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: space-between;
    align-items: center;

    position: sticky;

    height: 100%;
    top: var(--app-topnav-height);
    left: 0;

    padding: 1% 5%;

    background-color: var(--app-sidenav-background-color);
    box-shadow: var(--app-low-contrast) 0px 0px 20px;
  z-index: 5;
}

.sidenav_ContentContainer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;

    height: 100%;
}

.sidenav_Section {
    height: 50px;
    cursor: pointer;
    &:hover {
        background-color: var(--app-sidenav-section-hover-color);
    }
}

.sidenav_FooterSection {
    border-top: 1px solid;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .sidenav_NavContainer {
        top: 0;
    }
}
