.Profile_MainContainer {
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    align-items: center;
    height: 100%;

    padding: 10px 20px;
}

.Profile_SettingsContainer {
    background-color: var(--app-card-background-color);
    padding: 15px;
    border-radius: 5px;
}