.GameButton_Maincontainer {
    display: flex;
    justify-content: center;
}

.GameButton_Button {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 22px);
    z-index: 3;
    i {
      font-size: 20px;
    }
}
