.MostPopularArticles_MainContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;
    height: inherit;
    width: 100vw;
}

.MostPopularArticles_SubContainer {
    width: var(--app-width);
}

.MostPopularArticles_FilterContainer {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;

  padding: 2% 5%;
}

.MostPopularArticles_Filter {
  max-width: 300px;
  box-shadow: var(--app-low-contrast) 0px 0px 1px;
}

.MostPopularArticles_News {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: flex-start;

    height: inherit;
    flex-wrap: wrap;
}

.MostPopularArticles_New {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    width: 215px;
    padding: 1%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .MostPopularArticles_SubContainer {
      width: 100%;
    }

    .MostPopularArticles_FilterContainer {
      flex-direction: column;
      text-align: center;
      padding-top: 5%;
    }
  
    .MostPopularArticles_Filter {
      margin-top: 3%;
      width: fit-content;
    }
  
    .MostPopularArticles_News {
      padding: 5%;
      gap: 15px;
    }
  
    .MostPopularArticles_New {
      width: 100%;
    }
  }