.HomePage_Settings {
  position: absolute;
  i {
    font-size: 20px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  }