.Modal_MainContainer {
    position: absolute;
    top:0;
    left: 0;
    z-index: 9;

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
}

.Modal_SubContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;

    width: var(--app-modal-width);
    height: var(--app-modal-height);
    background-color: var(--app-hight-contrast);
    border-radius: 10px;
    border: 1px solid var(--app-low-contrast);
}

.Modal_HeaderContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: flex-end;
}

.Modal_ContentContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    padding: 20px;
    height: 100%;
}