.Section_MainContainer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
    
    height: 100%;
    padding: 1%;
}

.Section_ImageContainer, 
.Section_DataContainer {
    height: 100%;
}

.Section_ImageContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    
    width: 35%;

    svg {
        height: 100%;
        width: 50px;
    }
}

.Section_DataContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: flex-start;
    white-space: nowrap;
    p {
        margin-bottom: 0px;
    }
}

