.Section_MainContainer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    height: 100%;
    padding: 1%;
}

.Section_ImageContainer, 
.Section_DataContainer {
    height: 100%;

    p {
        color: var(--app-sidenav-section-font-color)
    }
}

.Section_Button {
    display: flex;
    height: 50px;
    cursor: pointer;
    width: 100%;
    align-items: center;
    border-radius: 50vh;

    &:hover {
        background-color: var(--app-sidenav-section-hover-color);
    }
    
    i{
        font-size: 20px;
    }
}

.Section_ImageContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    
    width: 35%;

    i {
        color: var(--app-sidenav-section-font-color);
    }

    svg {
        height: 100%;
        width: 50px;
    }
}

.Section_DataContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: flex-start;
    white-space: nowrap;
    p {
        margin-bottom: 0px;
    }
}

