.CounterCarrousel_MainContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding:  0px 20px;
}

.CounterCarrousel_ActionContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    button {
        color: var(--app-low-contrast);
        height: 70%;
        padding: 0;
        width: 100%;
        text-shadow: 1px 0 var(--app-hight-contrast), -2px 0 var(--app-hight-contrast), 0 2px var(--app-hight-contrast), 0 -2px var(--app-hight-contrast),
        1px 1px var(--app-hight-contrast), -1px -1px var(--app-hight-contrast), 1px -1px var(--app-hight-contrast), -1px 1px var(--app-hight-contrast);  
        i{
            font-size: 25px;
            border: 1px 0 var(--app-hight-contrast)
        }
    }
}


.CounterCarrousel_Carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 40%;
    user-select: none; /* Standard syntax */
}

.CounterCarrousel_TemporaryCount {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-shadow: 2px 0 var(--app-hight-contrast), -2px 0 var(--app-hight-contrast), 0 2px var(--app-hight-contrast), 0 -2px var(--app-hight-contrast),
        1px 1px var(--app-hight-contrast), -1px -1px var(--app-hight-contrast), 1px -1px var(--app-hight-contrast), -1px 1px var(--app-hight-contrast);
    }
}

.CounterCarrousel_CarrouselItem {
    padding: 0 10px;
    p {
        margin: 0;
        text-shadow: 2px 0 var(--app-hight-contrast), -2px 0 var(--app-hight-contrast), 0 2px var(--app-hight-contrast), 0 -2px var(--app-hight-contrast),
             1px 1px var(--app-hight-contrast), -1px -1px var(--app-hight-contrast), 1px -1px var(--app-hight-contrast), -1px 1px var(--app-hight-contrast);
    }
}