
.Contact_SideContainer,
.Contact_SideContainerImage
 {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.Contact_SideContainer {
    background-position: center;
  }
  
.Contact_SideContainerImage {
  background-color: var(--app-card-background-color);
  border-radius: 10px 10px 0 0;
  img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    object-fit: cover;

    border: 2px solid var(--app-hight-contrast);
    margin: 10px;
  }
}
  
.Contact_SideContainerContent {
  text-align: center;
  background-color: var(--app-hight-contrast);

  padding: 5px 0;

  svg {
    margin: 5px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Contact_SideContainer {
    flex-direction: row;
    height: 100%;
  }
  .Contact_SideContainerImage {
    margin: 0;
    height: 100%;
    border-radius: 10px 0 0 10px;

  }
}

  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  }