.GameSettings_MainContainer {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center; 
    height: 100%;
    form {
        height: 100%;
        width: 100%;
    }
}

.GameSettings_Settings {
    display: flex;
    flex-direction: column;
    place-content: space-between;
    align-items: center;
}

.GameSettings_Setting {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center; 

    width: 100%;
    padding: 0px 10px;

    .form-check {
        width: fit-content;
    }
    .form-select {
        width: 180px;
    }
}