.Layout_MainContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-end;

    overflow: hidden;
    height: 100%;
}

.Layout_HeaderContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;
  
    position: fixed;
    top: 0;
    bottom: auto;
  
    min-height: var(--app-topnav-height);
    height: var(--app-topnav-height);
  
    z-index: 7;
}
  
.Layout_ContentContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: center;
  
    margin-top: var(--app-topnav-height);
    min-height: calc(100vh - #{var(--app-topnav-height)});
  }

.Layout_ContentSidenav {
  display: flex;
  position: fixed;
  transform: translateY(var(--app-sidenav-closed-position));
  z-index: 5;
}

.Layout_Content {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;

  min-width: 100%;
  width: 100%;
  height: 100%;
  padding: 30px 60px;
}
  
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Layout_HeaderContainer {

    position: fixed;
    top: auto;
    bottom: 0;
  }
  .Layout_ContentContainer {
    margin-top: 0;
    overflow: hidden;
  }

  .Layout_Content {
    place-content: center;
    padding: 10px 15px;
    margin-bottom: var(--app-topnav-height);
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}