:root {
--font-color: #ffff;

--app-main-color: #0d6efd;

--app-hight-contrast: #ffff;
--app-low-contrast: #000000;

--app-content-background-color: #cbcbcb;
--app-card-background-color: #eaecf7;
--app-card-background-hover-color: #bcc1df;

--app-sidenav-background-color: #ffff;
--app-sidenav-section-hover-color: #d0d3e4;

--app-error-color: #dd1f1f;
--app-topnav-mobile-background: #000000;


/*fonts*/
--big-fontColor: #2b2b2b;
--small-fontColor: #888888;
--normal-fontColor: #545454;
--error-fontColor: var(--app-error-color);


/* PlayerBackgroundColor */
--PlayerBackgroundColorRed: red;
--PlayerBackgroundColorBlue: blue;
--PlayerBackgroundColorWhite: white;
--PlayerBackgroundColorDefault: inherit;
}

[data-theme='dark'] {
    --font-color: #0000;

    --app-main-color: #f29102;

    --app-hight-contrast: #000000;
    --app-low-contrast: #404040;

    --app-content-background-color: #2e2e2e;
    --app-card-background-color: #121414;
    --app-card-background-hover-color: #242424;
    
    --app-sidenav-background-color: #121414;
    --app-sidenav-section-hover-color: #242424;
    
    --app-error-color: #dd1f1f;
    --app-topnav-mobile-background: #0b0b0c;
    
    
    /*fonts*/
    --big-fontColor: #D4D4D4;
    --small-fontColor: #777777;
    --normal-fontColor: #ABABAB;
    --error-fontColor: var(--app-error-color);
  }