:root {
  --app-main-color: #c7b31b;

  --app-hight-contrast: #1f1f1f;
  --app-low-contrast: #d8d8d8;

  --app-content-background-color: #cbcbcb;

  --app-card-background-color: #3d5e79;
  
  --app-sidenav-background-color: #0b0b0c;
  --app-sidenav-section-hover-color: #242424;
  --app-sidenav-section-font-color: #d8d8d8;
  
  --app-error-color: #dd1f1f;
  --app-topnav-mobile-background: #0b0b0c;

  
  /*fonts*/
  --big-fontColor: #4b4a4a;
  --small-fontColor: #777777;
  --normal-fontColor: #ABABAB;
  --error-fontColor: var(--app-error-color);

  /* PlayerBackgroundColor */
  --PlayerBackgroundColorRed: #b10505fa;
  --PlayerBackgroundColorBlue:#3068e5;
  --PlayerBackgroundColorWhite: #dfcc86;
  --PlayerBackgroundColorBlack: #370360;
  --PlayerBackgroundColorGreen: #14a502;
  --PlayerBackgroundColorDefault: #8da6bb;

  /*PlayerBackgroundFontColor*/
  --PlayerBackgroundFontLight: #d8d8d8;
  --PlayerBackgroundFontDark:#1f1f1f;
  --PlayerBackgroundFontDefault:#1f1f1f;

  /*OwnerBorderColor*/
  --OwnerPlayerBackground: yellow;
}

[data-theme='dark'] {
--app-main-color: #c7b31b;

--app-hight-contrast: #d8d8d8;
--app-low-contrast: #1e1e1e;

--app-content-background-color: #2e2e2e;

--app-card-background-color: #435353;

--app-sidenav-background-color: #000000;
--app-sidenav-section-hover-color: #d0d3e4;
--app-sidenav-section-font-color: #d8d8d8;
--app-sidenav-section-hover-font-color: #1e1e1e;

--app-error-color: #dd1f1f;
--app-topnav-mobile-background: #000000;



/*fonts*/
--big-fontColor: #d8d8d8;
--small-fontColor: #bdbdbd;
--normal-fontColor: #aaa9a9;
--error-fontColor: var(--app-error-color);

/* PlayerBackgroundColor */
  --PlayerBackgroundColorRed: #b10505fa;
  --PlayerBackgroundColorBlue:#3068e5;
  --PlayerBackgroundColorWhite: #dfcc86;
  --PlayerBackgroundColorBlack: #370360;
  --PlayerBackgroundColorGreen: #14a502;
  --PlayerBackgroundColorDefault: #314343;

  /*PlayerBackgroundFontColor*/
  --PlayerBackgroundFontLight: #d8d8d8;
  --PlayerBackgroundFontDark:#1f1f1f;
  --PlayerBackgroundFontDefault:#d8d8d8;

  /*OwnerBorderColor*/
  --OwnerPlayerBackground: yellow;
  }