:root {
    --app-topnav-height: 80px;

    --app-sidenav-width: 100%;
    --app-sidenav-height: 90px;
    
    --app-sidenav-closed-position: calc(var(--app-sidenav-height)* -1);
    --app-sidenav-opened-position: 0%;

    --app-sidenav-closed-margin: 0%;
    --app-sidenav-opened-margin: var(--app-sidenav-height);

    --app-modal-width: 400px;
    --app-modal-height: 50vh;


    --app-width: 85%;


}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    :root {
        --app-topnav-height: 50px;

        --app-sidenav-height: 70px;

        --app-modal-width: 80vw;
        --app-modal-height: fit-content;
        
        --app-sidenav-closed-position: calc(100vh - var(--app-topnav-height));
        --app-sidenav-opened-position: calc(100vh - var(--app-topnav-height) - var(--app-sidenav-height));
        
        --app-sidenav-closed-margin: 0%;
        --app-sidenav-opened-margin: calc(var(--app-sidenav-height) * -1);
    }

    @supports (-webkit-appearance:none) {
        :root {
            --app-sidenav-closed-position: calc(100vh - var(--app-topnav-height) - 56px);
            --app-sidenav-opened-position: calc(100vh - var(--app-topnav-height) - var(--app-sidenav-height) - 56px);
        }
      }
}