.GameRestart_MainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .GameRestart_Board {
    display: flex;
    flex-direction: column;
  }
  .GameRestart_HeaderContainer {
    text-align: center;
  }
  .GameRestart_ContentContainer {
    text-align: center;
  }
  .GameRestart_ActionsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}